<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/index.css">
    <title>Quote Book</title>
</head>
<body>
    <header>
        <span class="text text-bold">Quote Book</span>
        <span class="flex-container">
            <img src="/icon/discord.svg" alt="discord">
            <img src="/icon/telegram.svg" alt="telegram">
            <img src="/icon/git.svg" alt="github">
        </span>
        <span class="flex-container flex-container-mini">
            <span>
                <input class="line" type="text">
                <img src="/icon/search.svg" alt="search">
            </span>
            <img src="/icon/sun.svg" alt="sun">
        </span>
    </header>
</body>
</html>