*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
  }

html{
    background-image: url(/img/back-mateial.svg);
    background-color: #2E1114;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #E4E4E4;
}

header{
    display: flex;
    align-items: center;
    background-color: #501B1D;
    padding: 1.5em 2em 1.5em 2em;
    justify-content: space-between;
    background-image: url(/img/back-mateial.svg);
}

.flex{
    margin-left: 10em;
}

.flex-container{
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container img{
    width: 24px;
    height: 24px;
}

.flex-container-mini{
    width: 15em;
}

input{
    border:0;
    outline:0;
}

input:focus{
    outline:none!important;
}

input[type="text"]{
    font-family: inherit;
    font-size: 0.8em;
    line-height: inherit;
    margin: 0;
}

.search-input{
    border: none;
    color: #E4E4E4;
    background-color: #501b1d00;
    border-bottom: 1px solid #fff;
}


